<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-3 col-md-6 col-lg-12">
        <circle-progress
            [percent]="70"
            [radius]="60"
            [imageSrc]="'../../../assets/html5.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="1000"
            
        ></circle-progress>
        <circle-progress
        
            [percent]="40"
            [radius]="60"
            [imageSrc]="'../../../assets/css.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress><circle-progress
            [percent]="40"
            [radius]="60"
            [imageSrc]="'../../../assets/js.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress><circle-progress
            [percent]="60"
            [radius]="60"
            [imageSrc]="'../../../assets/py.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress><circle-progress
            [percent]="70"
            [radius]="60"
            [imageSrc]="'../../../assets/git.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="1000"
            ></circle-progress><circle-progress
            [percent]="30"
            [radius]="60"
            [imageSrc]="'../../../assets/eng.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="1000"
            ></circle-progress><circle-progress
            [percent]="90"
            [radius]="60"
            [imageSrc]="'../../../assets/qa.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="1000"
            ></circle-progress><circle-progress
            [percent]="90"
            [radius]="60"
            [imageSrc]="'../../../assets/team.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="1000"
            
        ></circle-progress>
    </div>
    
