<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel perferendis fugit ad labore omnis necessitatibus molestias provident. Culpa sed velit recusandae, tenetur ipsam saepe quisquam animi modi mollitia, aspernatur tempore.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 2</h2> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel perferendis fugit ad labore omnis necessitatibus molestias provident. Culpa sed velit recusandae, tenetur ipsam saepe quisquam animi modi mollitia, aspernatur tempore.
            </p>
        </ul><ul>
            <li>
                <h2>Trabajo 3</h2> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel perferendis fugit ad labore omnis necessitatibus molestias provident. Culpa sed velit recusandae, tenetur ipsam saepe quisquam animi modi mollitia, aspernatur tempore.
            </p>
        </ul>
    </div>
</div>
