<div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <img src="../../../assets/perfil.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Roberto Mastrángelo Reyes</p>
        <p>Un perejil que recién empieza</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ducimus itaque unde? Facilis tenetur laudantium commodi nisi distinctio eum eos nesciunt quae veritatis. Corporis distinctio quod quos, esse natus accusamus!
            </p>
        </span>
    </div>
</div>